body {
  margin: 0%;
}
header  {
  background-color: #088390;
}
nav ul {
  margin: 0;
  list-style: none;
  text-align: center;
}
nav li {
  display: inline-block;
  padding-top: .75%;
  padding-bottom: .75%;
  padding-left: 2%;
  padding-right: 2%;
}
nav a:hover {
  color: #000
}
nav a:before {
  content: ' ';
  display: block;
  height: 5px;
  background-color: #000;
  top 0;
  width: 0;
  transition: all ease-in-out 300ms;
}
nav a:hover::before {
  width: 100%;
}
a:link {
  color: whitesmoke;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: whitesmoke;
  background-color: transparent;
  text-decoration: none;
}
h1 {
  margin: 0;
  font-family: times new roman;
  font-size: 28px;
  text-decoration: none;
  color: whitesmoke;
  background-color: #0F9FAE;
  padding-top: 12px;
}
h2 {
  margin: 0;
  font-family: times new roman;
  font-size: 20px;
  text-decoration: none;
  color: whitesmoke;
  background-color: #0F9FAE;
  padding-bottom: 12px;
}
p {
  font-family: Arial;
  font-size: 26px;
  line-height: 1.8;
  color: teal;
  padding-right: 7%;
  padding-left: 7%;
  padding-bottom: .5%;
}
p1 {
  font-family: Arial;
  font-size: 20px;
  color: black;
}
p2 {
  font-family: times new roman;
  font-size: 15px;
  padding: 15px;
}
.bottom {
  line-height: 2.0;
  background-color: #125069;
  padding: 1%;
  text-align: center;
  margin-top: 20%;
}
.Image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding-top: .5%;
  padding-bottom: .5%;
}